@charset "UTF-8";
/*------------- breakpoints -------------*/
/*------------- media queries -------------*/
/*------------- center vertically and/or horizontally
an absolute positioned element -------------*/
/*------------- placecolor -------------*/
/*------------- antialiasing mode font rendering -------------*/
/*------------- clearfix -------------*/
/*------------- settings -------------*/
html {
  width: 100%;
  height: 100%; }

body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  cursor: url("../img/arrow.cur"), auto;
  font-size: 14px;
  line-height: 1.42; }

.empty {
  height: 115px; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.footer {
  height: 115px;
  margin-top: -115px;
  position: relative;
  vertical-align: middle; }
  .footer .container {
    padding-top: 25px;
    text-align: center; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: url("../img/link.cur"), auto; }
  a:hover {
    text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0; }

/*------------- header -------------*/
.header {
  background: -webkit-gradient(linear, left top, right top, from(#FD523B), to(#FF9133));
  background: -webkit-linear-gradient(left, #FD523B, #FF9133);
  background: linear-gradient(to right, #FD523B, #FF9133);
  margin-bottom: 20px; }

.header__logo,
.header__search,
.header__menu {
  float: left; }

.header__top {
  padding-top: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .header__top:after, .header__top:before {
    display: table;
    content: ""; }
  .header__top:after {
    clear: both; }

.header__logo {
  width: 25%; }

.header__search {
  width: 40%; }

.header__menu {
  width: 35%;
  padding-left: 20px; }

.logo {
  display: inline-block; }

.logo__img {
  display: block;
  max-width: 125px;
  max-height: 55px; }

.search {
  position: relative; }

.search__input {
  border: 0 none;
  -webkit-border-radius: 99px;
          border-radius: 99px;
  padding: 10px 40px 10px 35px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  width: 100%; }
  .search__input::-webkit-input-placeholder {
    color: #fff; }
  .search__input:-moz-placeholder {
    color: #fff; }
  .search__input::-moz-placeholder {
    color: #fff; }
  .search__input:-ms-input-placeholder {
    color: #fff; }

.search__submit {
  height: 18px;
  width: 18px;
  background: url(../img/zoom.png) 0 0 no-repeat;
  border: 0 none;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -9px; }

/*------------- menu -------------*/
.menu {
  text-align: justify; }
  .menu:after {
    content: "";
    width: 100%;
    height: 0;
    display: inline-block; }

.menu__item {
  display: inline-block; }

.menu__link {
  display: block;
  padding: 10px; }

.menu__link-iconed {
  position: relative;
  padding-right: 20px;
  padding-left: 40px;
  border: 1px solid #fff;
  -webkit-border-radius: 99px;
          border-radius: 99px; }
  .menu__link-iconed:hover {
    border: 1px solid #ffc960; }

.menu__link-icon {
  width: 30px;
  position: absolute;
  left: 13px;
  top: 0;
  bottom: 0; }

.menu__link-text {
  color: #fff;
  font-size: 13px; }

.menu__link-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%; }

.menu__item:hover .menu__link {
  color: #ffc960; }

.menu__item:hover .menu__link-text {
  color: #ffc960; }

/*------------- nav -------------*/
.nav {
  padding-top: 20px; }

.nav__list {
  text-align: justify; }
  .nav__list:after {
    content: "";
    width: 100%;
    height: 0;
    display: inline-block; }

.nav__item {
  display: inline-block; }

.nav__title {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 5px;
  text-decoration: none; }

.nav__link:hover svg {
  fill: #ffc960; }

.nav__link:hover .nav__title {
  color: #ffc960; }

.nav__icon,
.nav__title {
  display: inline-block;
  vertical-align: middle; }
  .nav__icon svg,
  .nav__title svg {
    fill: #fff;
    height: 100%;
    width: 40px; }

/*------------- tabs -------------*/
.tab__item {
  display: inline-block;
  vertical-align: middle; }
  .tab__item:before {
    content: "→";
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 10px;
    color: #fa3f37; }
  .tab__item:first-child {
    margin-left: 0px; }
    .tab__item:first-child:before {
      display: none; }

.tab__link {
  font-size: 11px;
  color: #fa3f37;
  vertical-align: middle; }
  .tab__link:hover {
    color: #ffc960; }

.title {
  color: #2e2e2e;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0; }

/*------------- content -------------*/
.content__wrapper .container {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7; }

.sidebar {
  float: left;
  width: 25%; }

.content {
  float: left;
  width: 75%;
  border-left: 1px solid #e7e7e7; }

.product__item {
  position: relative;
  border-bottom: 1px solid #e7e7e7; }
  .product__item:after, .product__item:before {
    display: table;
    content: ""; }
  .product__item:after {
    clear: both; }
  .product__item:last-child {
    border: none; }

.product__slideshow {
  float: left;
  width: 30%;
  padding: 30px; }

.product__desc {
  float: left;
  width: 45%;
  padding: 40px 25px; }
  .product__desc:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #e7e7e7;
    top: 0;
    bottom: 0;
    margin-left: -40px; }

.slideshow__display {
  height: 235px;
  position: relative; }

.slideshow__display-img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%; }

.slideshow__prev-item {
  float: left;
  width: 25%; }

.slideshow__prev-link {
  height: 54px;
  position: relative;
  display: block; }

.slideshow__prev-img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%; }

.product__desc-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: normal; }

.product__desc-content {
  font-size: 14px;
  color: #676767; }
  .product__desc-content li {
    margin-bottom: 10px; }

.product__price {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  padding: 20px; }

.product__price-inner {
  position: relative;
  border: 1px solid #e7e7e7;
  height: 100%; }

.product__price-value {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  margin: 0 9px; }

.product__price-submit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ff8e2f;
  text-align: center;
  color: white;
  -webkit-border-radius: 50px;
          border-radius: 50px; }

/*------------- sidebar -------------*/
.sidebar__item {
  position: relative;
  border-bottom: 1px solid #e7e7e7; }

.sidebar__link {
  padding: 25px 50px 25px 20px;
  display: block;
  font-size: 0; }
  .sidebar__link:hover svg {
    fill: #999; }
  .sidebar__link:hover .sidebar__text {
    color: #999; }

.sidebar__icon {
  display: inline-block;
  vertical-align: middle;
  width: 10%; }
  .sidebar__icon svg {
    fill: #ff8e2f;
    height: 100%;
    width: 36px; }
  .sidebar__icon:hover {
    fill: #000; }

.sidebar__text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  width: 90%;
  font-size: 14px; }

.sidebar__mount {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  font-weight: bold;
  color: #999; }

/*------------- pagination -------------*/
.pagination {
  text-align: center;
  display: block;
  margin: 0; }
  .pagination .container {
    background-color: #fff;
    padding: 20px; }

.pagination__list {
  display: inline-block;
  margin: 0 26px; }

.pagination__control {
  text-align: center;
  display: inline-block; }

.pagination__link {
  padding: 0 15px; }

.pagination__item {
  vertical-align: middle;
  display: inline-block; }

.pagination__control {
  width: 15px;
  height: 22px;
  margin-top: -3px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.pagination__control-left {
  background-position: top left; }
  .pagination__control-left:hover {
    background-position: bottom left; }

.pagination__control-right {
  background-position: top right; }
  .pagination__control-right:hover {
    background-position: bottom right; }
